* {
  box-sizing: border-box;
}

.main-div {
  display: flex;
  align-items: center;
  gap: 30px;
  width: 50%;
  margin: 0 auto;
}

.umbrella {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  position: relative;
  width: 40%;
}

#umbrella-image {
  width: 200px;
}

#logo-container {
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
}

#logo-image {
  max-width: 100%;
  margin-bottom: 70px;
}
#loading-spinner{
  display: none;
  margin-right: 100px;
  width: 150px;
}
#loader-ic {
  position: absolute;
  left: 50px; /* modified */
  bottom: 160px;
  transform: translateX(-50%);
  display: block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}




.color-swatch {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
}

.color-swatch button {
  width: 30px;
  height: 30px;
  margin: 0 10px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.color-swatch button.pink {
  background-color: pink;
}

.color-swatch button.blue {
  background-color: blue;
}

.color-swatch button.yellow {
  background-color: yellow;
}

.upload-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-left: 20px;
  /* background-color: #0062cc; */
}

#logo-file{
  background-color: #007bff;
  padding: 5px 10px;
  border-radius: 5px;
}

.right-div {
  display: flex;
  flex-direction: column;
  width: 200px;
  justify-content: center;
  width: 60%;
}
/* 
#logo-file{
  width:200px;
} */
.upload-heading{
  font-size: 20px;
  font-weight: 700;
  color: #28279e;
}

.preview-button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: green;
  color: white;
  cursor: pointer;
}
.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  content: 'Choose file';
  display: inline-block;
  background: #007bff;
  color: #fff;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;

}

.custom-file-input:active::after {
  content: 'choose different logo bbbbbbbbbb';
  display: inline-block;
  background: #007bff;
  color: #fff;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
}
/* .custom-file-input:hover::before {
  background: #0069d9;
} */
/* .custom-file-input:active::before {
  background: #0062cc;
} */
.custom-file-label::before {
  color: transparent;
  opacity: 0;
  position: absolute;
  z-index: -1;
}